<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bank.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Bank.Properties.Settings.bank_systemConnectionString" connectionString="server=localHost;user id=root;password=nadim1155;persistsecurityinfo=True;database=bank_system" providerName="MySql.Data.MySqlClient"/>
        <add name="Bank.Properties.Settings.LoginDataBaseConnectionString" connectionString="Data Source=LAPTOP-V4386OSC;Initial Catalog=LoginDataBase;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Bank.Properties.Settings.BankSystemDataBaseConnectionString" connectionString="Data Source=LAPTOP-V4386OSC;Initial Catalog=BankSystemDataBase;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Bank.Properties.Settings>
            <setting name="User_name" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
        </Bank.Properties.Settings>
    </userSettings>
</configuration>
